@tailwind preflight;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px 40px 40px;
  @media (max-width: 767px) {
    padding: 20px;
  }
}
pre {
  white-space: pre-wrap;
}
p {
  margin-bottom: 1em;
}
ol {
  margin-bottom: 1em;
}
